body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.square {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
}

.status {
  margin-bottom: 20px;
}

.board-row {
  display: flex;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
